/* Basic */
:root {
  --header-height: 40px;
  --nav-height: 30px;
  --dark-grey: #213044;
  --dark-green: #42615A;
  --dark-salmon: #D66251;
  --light-salmon: #EB9D84;
  --light-rose: #F0CFCE;
  --border-radius: 3px;
  --box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--dark-grey);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1:first-child, h2:first-child {
  margin: 0;
}

.material-icons-outlined {
  vertical-align: middle;
}

ul {
  margin: 0;
}

a {
  color: var(--dark-green);
}

a[href^=mailto]::after {
  content: "mail";
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  font-family: 'Material Icons Outlined';
  font-style: normal;
  color: black;
}

a[href^=tel]::after {
  content: "local_phone";
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  font-family: 'Material Icons Outlined';
  font-style: normal;
  color: black;
}

em {
  font-weight: 600;
}

.timeline li {
  position: relative;
}

.timeline li:before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--dark-green);
  position: absolute;
  left: -25px;
  top: 16px;
}

.timeline li:not(:last-child):after {
  content: '';
  width: 2px;
  height: 100%;
  background: var(--dark-green);
  position: absolute;
  left: -18px;
  top: 25px;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: var(--header-height);
  background-color: var(--dark-salmon);
  box-shadow: var(--box-shadow);
  z-index: 10000;
}

header a {
  color: white;
  text-decoration: none;
}

header h1 {
  flex-grow: 2;
  font-size: 1.5em;
  text-transform: uppercase;
}

header .header-action-button {
  -webkit-appearance: none;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}

/* Navigation bar */
nav {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: var(--nav-height);
  background-color: whitesmoke;
  box-shadow: var(--box-shadow);
  z-index: 10000;
} @media screen and (max-width: 880px) {
  nav {
    justify-content: space-evenly;
    padding-left: 0;
  }
}

nav a {
  color: var(--dark-grey);
  font-weight: 400;
  text-decoration: none;
}

nav a:hover {
  color: var(--dark-green);
}

nav a .material-icons-outlined {
  margin-right: 5px;
  font-size: 20px;
} @media screen and (max-width: 1050px) {
  nav a .material-icons-outlined {
    display: none;
  }
} @media screen and (max-width: 880px) {
  nav a .material-icons-outlined {
    display: initial;
  }
}

nav a .nav-label {
  vertical-align: middle;
} @media screen and (max-width: 880px) {
  nav a .nav-label {
    display: none;
  }
}

nav .nav-vertical-line {
  margin: 0 15px;
  height: 20px;
  border-left: 1px solid rgba(0,0,0,0.1);
} @media screen and (max-width: 1170px) {
  nav .nav-vertical-line {
    margin: 0 5px;
  }
}

/* Upper decoration */
.page-upper-decor {
  position: fixed;
  top: calc(var(--header-height) + var(--nav-height));
  left: 0;
  right: 0;
  z-index: -1;
}

.page-upper-decor svg {
  filter: drop-shadow( 1px 1px 15px rgba(0, 0, 0, .2));
}

.page-upper-decor .triangle-right {
  fill: var(--light-rose);
}

.page-upper-decor .triangle-left {
  fill: var(--light-salmon);
}

/* Main content */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: calc(var(--header-height) + var(--nav-height) + 30px) auto 20px auto;
  padding: 0 10px;
  width: 720px;
  z-index: 20;
} @media screen and (max-width: 720px) {
  main {
    width: auto;
  }
}

/* Main image */
main .main-image-card {
  margin: 20px auto;
  max-width: 250px;
}

main .main-image-card img {
  max-width: 100%;
  border: 2px solid whitesmoke;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

main .main-card {
  margin-bottom: 5px;
  padding: 15px;
  background-color: whitesmoke;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

/* Main personal details */
main .main-personal-details-container address ul {
  padding-inline-start: 0;
  list-style-type: none;
}

main .main-who-am-i-container ul {
  padding-inline-start: 15px;
}

main .main-work-container ul {
  list-style-type: none;
}

main .main-education-container ul {
  list-style-type: none;
}

main .main-technical-knowledge-container ul {
  padding-inline-start: 15px;
}
