/* Basic */
:root {
  --header-height: 40px;
  --nav-height: 30px;
  --dark-grey: #213044;
  --dark-green: #42615A;
  --dark-salmon: #D66251;
  --light-salmon: #EB9D84;
  --light-rose: #F0CFCE;
  --border-radius: 3px;
  --box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--dark-grey);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1:first-child, h2:first-child {
  margin: 0;
}

.material-icons {
  vertical-align: middle;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: var(--header-height);
  background-color: var(--dark-salmon);
  box-shadow: var(--box-shadow);
  z-index: 10;
}

header a {
  color: white;
  text-decoration: none;
}

header h1 {
  flex-grow: 2;
  font-size: 1.5em;
  text-transform: uppercase;
}

header .header-action-button {
  -webkit-appearance: none;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}

/* Navigation bar */
nav {
  background-color: whitesmoke;
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--nav-height);
  box-shadow: var(--box-shadow);
}

nav a {
  color: var(--dark-grey);
  font-weight: 400;
  text-decoration: none;
}

nav a:hover {
  color: var(--dark-green);
}

nav a .material-icons {
  margin-right: 5px;
  font-size: 20px;
} @media screen and (max-width: 850px) {
  nav a .material-icons {
    display: none;
  }
} @media screen and (max-width: 700px) {
  nav a .material-icons {
    display: initial;
  }
}

nav a .nav-label {
  vertical-align: middle;
} @media screen and (max-width: 850px) {
  nav a .nav-label {
    display: initial;
  }
} @media screen and (max-width: 700px) {
  nav a .nav-label {
    display: none;
  }
}

nav .nav-vertical-line {
  height: 20px;
  border-left: 1px solid rgba(0,0,0,0.1);
}

/* Upper decoration */
.page-upper-decor {
  position: fixed;
  top: calc(var(--header-height) + var(--nav-height));
  left: 0;
  right: 0;
  z-index: -1;
}

.page-upper-decor svg {
  filter: drop-shadow( 1px 1px 15px rgba(0, 0, 0, .2));
}

.page-upper-decor .triangle-right {
  fill: var(--light-rose);
}

.page-upper-decor .triangle-left {
  fill: var(--light-salmon);
}

/* Main content */
main {
  margin: calc(var(--header-height) + var(--nav-height) + 30px) auto 20px auto;
  padding: 0 10px;
  width: 720px;
  z-index: 20;
} @media screen and (max-width: 720px) {
  main {
    width: auto;
  }
}

main .main-image-card {
  margin: 20px auto;
  max-width: 250px;
}

main .main-image-card img {
  max-width: 100%;
  border: 2px solid whitesmoke;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
